$main-color: #ffc71a;
$text-color: #171717;
$dark-color: #050505;
$light-color: #fff;
$gray-color: #edeceb;

$font-sizes: (
  'xs': 1.2rem,
  's': 1.6rem,
  'm': 2rem,
  'l': 2.4rem,
  'xl': 4rem,
  'xxl': 5rem,
  'xxxl': 8rem,
);

$font-weights: (
  'regular': 400,
  'bold': 700,
);

$font-families: (
  'sans-serif': #{'Poppins',
  sans-serif},
  'big': #{'Oswald',
  sans-serif},
);

$border-radius: (
  's': 0.4rem,
  'm': 0.8rem,
  'l': 3rem,
  'xl': 5rem,
  'circle': 50%,
);

$box-shadows: (
  's': 0 0.5rem 1rem rgba(0, 0, 0, 0.3),
  'm': 0 -0.5rem 3rem rgba(0, 0, 0, 0.3),
  'l': 2rem 2rem 5rem rgba(0, 0, 0, 0.5),
);

$breakpoints: (
  'xs': 360px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'hd': 1280px,
  'fhd': 1920px,
  'qhd': 2560px,
  'uhd': 3840px,
  'fivek': 5120px,
  'eightk': 7680px,
);
