@use '../utils' as *;

.footer {
  position: relative;
  padding: 3rem 3rem 8rem;
  background: url('../images/footer-bg.jpg') center/100% 100%;
  @include grid(1, 4rem);

  @include mq(lg) {
    padding: 5rem 10rem 8rem;
    grid-template-columns: repeat(3, 1fr);
  }

  &__column:first-of-type {
    ul {
      display: flex;

      li {
        margin-right: 1rem;

        a {
          width: 3rem;
          height: 3rem;
          border-radius: border-radius(circle);
          text-align: center;
          line-height: 3rem;
          color: $main-color;
          @extend %transition;

          &:hover {
            background: $light-color;
            color: $text-color;
          }
        }
      }
    }
  }

  &__column:nth-of-type(2) {
    ul {
      li {
        @include flex($justify-content: space-between);
        width: 14.5rem;
        color: $main-color;
        font-size: font-size(s);
        margin-bottom: 1rem;

        &:last-of-type {
          font-size: font-size(m);
          padding-right: 0.3rem;
        }

        span {
          color: $light-color;
        }
      }
    }
  }

  &__column:last-of-type {
    ul {
      li {
        max-width: 25rem;
        color: $light-color;
        font-size: font-size(s);
        margin-bottom: 1rem;
        display: flex;

        span {
          display: inline-block;
          min-width: 3rem;
          min-height: 3rem;
          text-align: center;
          line-height: 2.5rem;
          margin-right: 1rem;
        }
      }
    }
  }

  &__copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #000;
    color: $light-color;
    font-size: font-size(xs);
    padding: 1rem;
  }
}
